.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal-content {
    background-color: #fff; /* Cor de fundo branca */
    padding: 10px 0px 10px 0px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Sombra para destacar o modal */
  }
.user {
    align-items: center;
    background-color: var(--backgroundpaper);
    border-radius: 16px;
    display: inline-flex;
    flex-direction: column;
    padding: 8px 0px;
    position: relative;
  }
  
  .user .avatar {
    opacity: 0.98 ;
  }
  
  .user .content-image-variant-circular-size-free {
    left: -8084px ;
    top: -7887px ;
  }
  
  .user .stack {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    padding: 0px 0px 8px;
    position: relative;
    width: 344px;
  }
  
  .user .name-rand {
    color: var(--textprimary);
    font-family: var(--desktop-subtitle1-font-family);
    font-size: var(--desktop-subtitle1-font-size);
    font-style: var(--desktop-subtitle1-font-style);
    font-weight: var(--desktop-subtitle1-font-weight);
    letter-spacing: var(--desktop-subtitle1-letter-spacing);
    line-height: var(--desktop-subtitle1-line-height);
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .user .role-rand {
    color: #637381;
    font-family: var(--desktop-body2-font-family);
    font-size: var(--desktop-body2-font-size);
    font-style: var(--desktop-body2-font-style);
    font-weight: var(--desktop-body2-font-weight);
    letter-spacing: var(--desktop-body2-letter-spacing);
    line-height: var(--desktop-body2-line-height);
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .user .button-instance {
    flex: 0 0 auto !important;
    padding: 4px !important;
    background: transparent;
    border-radius: 8px;
border: 1px solid var(--transparent-primary-48, rgba(0, 167, 111, 0.48));
color:#00A76F;
width: 115px;
margin-left: auto; /* Isso empurrará o botão para a direita */
  margin-right: auto;
  font-weight: 600;

  }
  
  .user .icon-button-wrapper {
    align-items: flex-start;
    display: inline-flex;
    left: 308px;
    padding: 8px 8px 8px 0px;
    position: absolute;
    top: 0;
  }
  
  .user .icon-button-instance {
    flex: 0 0 auto ;
  }
  
  .user .icons-ic-eva-more {
    height: 20px ;
    position: relative ;
    width: 20px ;
  }
  

  