
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: #fff; /* Cor de fundo branca */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Sombra para destacar o modal */
  }
.container {
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .left-box{
  
        background-color: #fff; /* Cor de fundo branca */
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Sombra para destacar o modal */
      
  }
  
  /* Outros estilos para inputs, botões, etc. */
  
.user-inputs {
    display: flex;
    justify-content: space-between;
  }
  
  .column {
    flex: 1;
    margin-right: 10px; /* Espaço entre as colunas */
  }
  
  .single-label {
    margin-top: 10px; /* Espaço acima do botão */
  }
 

.outlined-input {
    border: 1px solid #ccc; /* Adicione a borda desejada */
    padding: 8px; /* Ajuste o preenchimento conforme necessário */
    border-radius: 4px; /* Opcional: Adicione bordas arredondadas */
    width: 300px;
    height: 30px;
  }
  
  .input-row{
    margin-bottom: 10px;
    margin-right: 10px;
  }

  /* style.css */

/* style.css */

/*  */
  

  /* style.css */

.centered-input {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    margin-bottom: 20px; /* Adicione margem inferior para espaçamento */
  }
  
  .large-input {
    width: 300px; /* Defina a largura desejada */
    height: 40px; /* Defina a altura desejada */
  }
  
  .extra-large-input {
    width: 400px; /* Defina a largura desejada */
    height: 60px; /* Defina a altura desejada */
  }
  
  
 .button-instance {
    align-self: stretch ;  background: radial-gradient(50% 50% at 50% 50%, rgb(47, 194, 134) 0%, rgb(49, 169, 185) 100%) ;  background-color: unset ;  display: flex ;  flex: 0 0 auto ;  padding: 10px 10px ;  width: 100% ; 
 }


 /* .text-field-instance {
    margin-bottom: 10px;
    margin-right: 10px;
 }

 .text-field-2 {
    padding: 10px !important; 
 }




 .drawer-file-manager .text-field-3 {
    color: #212b3685 !important; 
 } */